/* 

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

#introduction{
    background-color: #0CC0DF;
    height: 85vh;
}

.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills-header-container{
    display: flex;
    justify-content: center;
}

.my-skills{
    color: #0CC0DF;
    font-family: 'IBM Plex Serif', serif;
    font-size: 50px;
}

.skills-info{
    display: flex;
    justify-content: center;
    height: 500px;
}

.grid-container{
    display: grid;
    grid-template-rows: 200px 50px 200px;
    grid-template-columns: 400px 400px 400px;
}

.lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/

body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.container-flex{
   display: flex;
   flex-direction: row;
}

.container-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.titles{
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    padding-left: 25px;
}

.header{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.text{
    font-family: 'IBM Plex Serif', serif;
    font-size: 22px;
    color: white;
}

#item-id:hover > h1{
    background-color: white;
    color: black;
}

#item-id:hover{
    background-color: white;
}

.global-title{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

.global-content{
    font-family: 'IBM Plex Serif', serif;
}