.profile-img{
    display: flex;
    flex-direction: column;
}


.my-info{
    margin-left: 40px;
}

.about-me{
    margin-right: 100px;
}

.my-education{
}

.my-image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 40px;
}

.name{
    font-size: 45px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.deg{
    margin-top:0px;
    margin-left: 40px;
    margin-bottom: 0px;
}

.default-heading{
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.default-content{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    line-height: 1;
    word-spacing: 5px;
}

.institute{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}